@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MetroLayout.cshtml";
}


<div style="float: left; width: 60%">
    <h2>Latest Questions</h2>
    @for (int i = 0; i < 15; i++)
    {<div style="height:30px;width:100%;font-size:large;">
        @Html.ActionLink("Right Answers for everyone!" + i.ToString(), "Details?id=" + i, "Questions")
        <br />

              </div>
    }
</div>
<div style="float: left; width: 40%">
    <h2>Browse</h2>
    <div class="tile bg-green">
        <div class="tile-content icon">
            <i class="icon-cart-2"></i>
        </div>
        <div class="tile-status">
            <span class="name">C#</span>
        </div>
    </div>
    <div class="tile bg-orange">
        <div class="tile-content icon">
            <i class="icon-cart-2"></i>
        </div>
        <div class="tile-status">
            <span class="name">ASP.NET</span>
        </div>
    </div>
    <div class="tile bg-red">
        <div class="tile-content icon">
            <i class="icon-cart-2"></i>
        </div>
        <div class="tile-status">
            <span class="name">.NET</span>
        </div>
    </div>
    <div class="tile bg-gray">
        <div class="tile-content icon">
            <i class="icon-cart-2"></i>
        </div>
        <div class="tile-status">
            <span class="name">PHP</span>
        </div>
    </div>
    <div class="tile bg-pink">
        <div class="tile-content icon">
            <i class="icon-cart-2"></i>
        </div>
        <div class="tile-status">
            <span class="name">iOS</span>
        </div>
    </div>
    <div class="tile bg-darkPink">
        <div class="tile-content icon">
            <i class="icon-cart-2"></i>
        </div>
        <div class="tile-status">
            <span class="name">Visual Studio</span>
        </div>
    </div>
    <div class="tile bg-blue">
        <div class="tile-content icon">
            <i class="icon-cart-2"></i>
        </div>
        <div class="tile-status">
            <span class="name">iOS</span>
        </div>
    </div>
    <div class="tile bg-green">
        <div class="tile-content icon">
            <i class="icon-cart-2"></i>
        </div>
        <div class="tile-status">
            <span class="name">Java</span>
        </div>
    </div>
    <div class="tile bg-orange">
        <div class="tile-content icon">
            <i class="icon-cart-2"></i>
        </div>
        <div class="tile-status">
            <span class="name">C++</span>
        </div>
    </div>
    <div class="tile bg-red">
        <div class="tile-content icon">
            <i class="icon-cart-2"></i>
        </div>
        <div class="tile-status">
            <span class="name">jQuery</span>
        </div>
    </div>
    <div class="tile bg-darkPink">

        <div class="tile-content icon">

            <i class="icon-cart-2"></i>

        </div>
        <div class="tile-status">
            <span class="name">SQL Server</span>

        </div>
    </div>
    <div class="tile bg-black">
        <div class="tile-content icon">
            <i class="icon-cart-2"></i>
        </div>
        <div class="tile-status">
            <span class="name">More...</span>
        </div>
    </div>
</div>
